.calcy-main {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 15px;
}
.calcy-button {
   padding: 5px 25px;
   border-radius: 15px;
   text-align: center;
   font-size: 3rem;
   font-weight: 900;
   color: white;
   border: none;
}
.calcy-button:hover {
   opacity: 0.9;
}
.calcy-button:last-child {
   grid-column-start: 3;
   grid-column-end: 5;
}
.number {
   background-color: #00e0ff;
}
.symbol {
   background-color: #ffd600;
}
